<div class="container">
    <h1>Mis tareas</h1>
    <hr>
    <div class="row">
        <div class="form-group">
            <label for="descripcion">Descripción</label>
            <input type="text" class="form-control" id="descripcion" [(ngModel)]="descripcion" aria-describedby="nombreTarea">
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" value="" id="realizada" [(ngModel)]="realizada">
            <label for="realizada" class="form-check-label">Realizada</label>
        </div>
        <button type="button" class="btn btn-success mt-4" (click)="agregarTarea()">Agregar Tarea</button>
    </div>


    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Descripción</th>
                    <th scope="col">Realizada</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tarea of misTareas; let i=index;" [class.tareaRealizada]="tarea.realizada">
                    <th scope="row">{{tarea.descripcion}}</th>
                    <td>{{tarea.realizada ? 'Sí' : 'No'}}</td>
                    <td><button type="button" class="btn w-100 {{tarea.realizada ? 'btn-warning' : 'btn-success'}}" (click)="cambiarTarea(i)">{{tarea.realizada ? 'no hecha' : 'hecha'}}</button></td>
                    <td><button type="button" class="btn btn-danger" (click)="eliminarTarea(i)">Eliminar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>