<h1>Paises</h1>
<form #formulario="ngForm" (submit)="getPaises()">
    <div class="form-group">
        <div class="form-group">
            <label for="continente">Continente</label>
            <input type="text" class="form-control" id="continente" name="continente" [(ngModel)]="continenteSeleccionado" required #continente="ngModel">
            <div *ngIf="continente.invalid && continente.touched" class="text-danger">
                El continente es obligatorio
            </div>
        </div>
        <label for="paises">Países:</label>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="formulario.invalid">Aceptar</button>
</form>


<div class="row">
    <div class="col" *ngFor="let pais of paises">
        <div class="card" style="width: 18rem">
            <img [src]="pais.flags.png" [alt]="pais.name.official + '`s flag'">
            <div class="card-body">
                <h5 class="card-title">{{pais.name.official}}</h5>
                <span class="card-text">{{pais.flag}}</span><span class="card-text"> {{pais.capital}}</span>
                <p class="card-text" style="font-style: italic;">{{pais.translations['spa'].common}}</p>
                <p class="card-text">{{pais.region}}</p>
                <p class="card-text">{{pais.subregion}}</p>
                <p class="card-text">{{pais.population | number}}</p>
                
                <a [href]="pais.maps.googleMaps" class="btn btn-primary btn-sm" target="_blank">Ver en Google Maps</a>
            </div>
        </div>
    </div>
</div>