<!-- <app-binding></app-binding> -->
<!-- <app-directivas></app-directivas> -->
<!-- <app-actividad-ng-for></app-actividad-ng-for> -->
<!-- <app-amigos></app-amigos> -->
<!-- <app-tareas></app-tareas> -->
<!-- <app-formulario-usuarios></app-formulario-usuarios> -->
<!-- <app-formulario-clientes></app-formulario-clientes> -->
<!-- <app-formulario-usuarios-mejorado></app-formulario-usuarios-mejorado> -->
<!-- <app-angular-pipes></app-angular-pipes> -->
<!-- <app-pipes-personalizados></app-pipes-personalizados> -->
<app-recetas></app-recetas>
<!-- <app-paises></app-paises> -->